
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f6fa;
}

a {
  font-weight: 500;
  color: var(--tc-brand-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--tc-brand-primary-hover); 
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  .tc-layoutFramework-content{
    background: #fff;
    border-radius: var(--tc-radius-lg) var(--tc-radius-lg) 0 0;
    padding: 20px;
  }
}

.tc-svg-icon { // svg图标 颜色继承
  stroke: none;
  path {
    fill: currentColor;
  }
}

.ellipsis {
  white-space: nowrap;
  /* 防止文本换行 */
  overflow: hidden;
  /* 隐藏溢出的内容 */
  text-overflow: ellipsis;
  /* 当文本溢出时显示省略号 */
}

/* 隐藏滚动条 */
.hideScroll {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}

// 多行文本显示省略号
.multi-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 设置你希望显示的行数 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}